.scene {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.moon {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #e0e0e2;
  position: absolute;
  bottom: -150px;
  left: 50px;
  border: 5px solid #333;
  box-sizing: border-box;
  box-shadow: inset -40px 0 #92817a;
  opacity: 0.9;
}

.crater1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 150px;
  background-color: #92817a;
  opacity: 0.2;
  border: 1px solid #333;
}

.crater2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 180px;
  background-color: #92817a;
  opacity: 0.2;
  border: 1px solid #333;
}

.star1 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #fa9f42;
  position: absolute;
  top: 20px;
  right: 0;
  animation: twinkle 0.5s 0.2s linear infinite alternate;
}

.star1::after {
  content: '';
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #fa9f42;
  position: absolute;
  top: -7px;
  right: 8px;
  animation: twinkle 0.5s 0.2s linear infinite alternate;
}

.star2 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #fa9f42;
  position: absolute;
  top: -20px;
  right: 200px;
  animation: twinkle 0.5s 0.3s linear infinite alternate;
}

.star2::after {
  content: '';
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #fa9f42;
  position: absolute;
  top: -7px;
  right: 8px;
  animation: twinkle 0.5s 0.3s linear infinite alternate;
}

.star3 {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #fa9f42;
  position: absolute;
  top: 130px;
  left: -20px;
  animation: twinkle 0.5s linear infinite alternate;
}

.star3::after {
  content: '';
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #fa9f42;
  position: absolute;
  top: -7px;
  left: 8px;
  animation: twinkle 0.5s linear infinite alternate;
}

@keyframes twinkle {
  to {
    background-color: #ecc8af;
  }
}
